doctype html 
html    
    head    
        title This is my First Page
    body 
        h1. 
            My 
            First 
            Pug Page
    main 
        h2 This is the very best sub title Page
        .my-div
        #my-div1
        .my-div.red.big#ugly
        a(href="https://www.google.com") Google
        link(rel='stylesheet' href='css/style.css')
        div(data-temp='28' id = 'temp')
        div#temp(data-temp='28')